 @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;1,700&display=swap');

body {
  background-color: #0a0909;
  color: rgb(237, 236, 237);
  font-family: 'Public Sans', sans-serif;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  .animated {
    animation: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: min(100vw - 3rem, 100ch);
  margin-inline: auto;
}

section {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, 
    minmax(30ch, 1fr));
  gap: clamp(1.5rem, 6vmax, 3rem);
}


.header {
  width: 40ch;
}

.about {

}

.footer {
  display: flex;
  height: 33.3333px;
  padding:16px 0;
  font-size: 10.1333px;
}


h1 {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -0.08em;
  line-height: 94.5324px;
}

h2 {
  font-size: 103.299px;
  letter-spacing: -8.26393px;
  line-height: 91.4193px;
}

h1,
h2 {
  font-style: italic;
  text-transform: uppercase;
}

p {
  font-size: 21.7px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 30.0851px;
}
.contact p {
  font-size: 13px;
  line-height: 18.5456px;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

a {
  color: rgb(237, 236, 237);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
 }





@keyframes fade-Left {
  0% {
    opacity: 0.0;
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes pan-Left {
  0% {
    transform: translate(-80px, 0px);
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes rise-Left {
  0% {
    transform: translate(0px, 80px);
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes rise-Right {
  0% {
    transform: translate(0px, 80px);
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes pulse {
  0% {
    background-color: rgba(226, 226, 226, 0.05);
  }

  50% {
    background-color: rgba(226, 226, 226, 0.1);
  }

  100% {
    background-color: rgba(226, 226, 226, 0.05);
  }
}

@keyframes fade-LEFT {
  0% {
    opacity: 0.0;
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes fade-LEFT{
  0% {
    opacity: 0.0;
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes pan-RIGHT {
  0% {
    transform: translate(-80px, 0px);
    animation-timing-function: cubic-bezier(0.4, 0.8, 0.74, 1.0);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes linear_fade {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}