:root {
  color-scheme: light dark;
  color: #f7f8f8;
  background-color: #020a0f;
}
html {
  color-scheme: dark;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3 {
  font-size: 1.42857rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.02857rem;
  text-transform: uppercase;
  color: #f7f8f8;
}
p,
a {
  font-size: 1.14286rem;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0.02286rem;
}
a {
  color: #f7f8f8;
  text-decoration: inherit;
}
a:hover {
  color: #e0807d;
}

h1,
h2,
h3,
p,
a {
  margin: 0 0 1rem 0;
}

/* GRID */
.content-grid,
.full-width {
  --padding-inline: 2rem;
  --content-max-width: 70ch;
  --breakout-max-width: 85ch;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}
.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
}
/* HEADER */
.header {
  background-color: #020a0f;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  isolation: isolate;
}
.header__content {
  padding: 2rem;
  margin: 4rem 0;
  position: relative;
}
.header__content::after {
  content: "";
  position: absolute;
  background: #ce676d;
  inset: 0;
  z-index: -1;
  mix-blend-mode: multiply;
}
/* ABOUT */
.about {
  margin-bottom: 4rem;
}
.social-links {
  display: flex;
  gap: 1rem;
}
.social-links a {
  font-size: 2rem;
}
/* MUSIC */
.music {
  margin: 4rem 0;
}
.soundcloud-frame {
  width: 100%;
  height: 80vh;
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
